* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.conteudo {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
    padding: 10px;
    gap: 10px;
}